:root {

    --clr-title-background: #2e1065;
    --clr-text-clr: #e2e8f0;
    --clr-container-clr: #a5b4fc;
  }
  *,
  *::before,
  *::after {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  }
  
  html {
    font-size: 62.5%;
    font-family: "Nunito", sans-serif;
  }
  
  body {
    font-weight: 400;
    line-height: 1.6;
    font-size: 1.6rem;
    position: relative;
    width: 60%;
    margin: auto;
  }
  
  h2,
  h3 {
    color: #333;
  }
  
  ::-webkit-scrollbar {
    width: 0.5rem;
    left: -5rem;
  }
  
  ::-moz-scrollbar {
    width: 0.5rem;
    left: -5rem;
  }
  .toggle {
    cursor: pointer;
    display: inline-block;
  }
  
  .toggle-switch {
    display: inline-block;
    background: #f50202;
    border-radius: 16px;
    width: 58px;
    height: 32px;
    position: absolute;
    vertical-align: middle;
    transition: background 0.25s;
  }
  .toggle-switch:before, .toggle-switch:after {
    content: "";
  }
  .toggle-switch:before {
    display: block;
    background-color: white;
    border-radius: 50%;
    box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.25);
    width: 24px;
    height: 24px;
    position: absolute;
    top: 4px;
    left: 4px;
    transition: left 0.25s;
  }
  .toggle:hover .toggle-switch:before {
    background: linear-gradient(to bottom, #fff 0%, #fff 100%);
    box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.5);
  }
  .toggle-checkbox:checked + .toggle-switch {
    background: #56c080;
  }
  .toggle-checkbox:checked + .toggle-switch:before {
    left: 30px;
  
  }
  
  .toggle-checkbox {
    position: absolute;
    visibility: hidden;
  }
  
  .toggle-label {
    margin-left: 75px;
    position: absolute;
    top: 10px;
  }
  .slider{
    position: absolute;
    margin-top: -165px;
    margin-left: 5px;
  }
  #v1cntrl{
    position:absolute;
    width: 50px;
    margin-left: 98px;
    margin-top: -83px;
  }
  
  #v2cntrl{
    position: absolute;
    width: 50px;
    margin-left: 98px;
    margin-top: -34px;
  }
  #ip1{
    font-weight: 120;
    margin-left: 8px;
    margin-top: -90px;
    position: absolute;
    font-size: large;
  
   }
   #ip2{
    margin-left: 8px;
    margin-top: -42px;
    position: absolute;
   }
   .variables-sections{
   
    box-sizing: border-box;
   }
   table, th, tr, td{
    border: 1px solid;
  }
  table{
    position: absolute;
    width: 100%;
    border: 2px solid;
  }
  #table{
      position: absolute;
      border: 2px solid rgb(12, 12, 12);
      margin-top: -312px;
      margin-left: 54px;
  }
  #obsv{
    margin: 0px;
    padding: 5px;
    background-color: white
  }
  #prnt{
    padding: 5px;
    border-radius: 5px;
    background-color: rgb(168, 210, 240);
    position: absolute;
    margin-top: 21px;
    margin-left: 119px;
    cursor: pointer;
  }
  #clearButton{
    position: absolute;
    margin-top: 21px;
    margin-left: 18px;
    background-color: rgb(168, 210, 240);
    padding: 5px;
    border-radius: 5px;
    cursor: pointer;
  }
  #table{
    background-color: white;
    border-color:  2px solid black;
    position: absolute;
    /* top: 3580px; */
    width: 450px;
    height: 190px;
    left: -61px;
    overflow-y: auto;
  }
   #mytable{
    border-color: black;
    width: 500;
    border: 1;
    text-align: center;
   }
  #addButton{
    z-index: 5;
    margin-left: 200px;
    margin-top: 100px; 
  }
  #add{
    background-color: rgb(168, 210, 240);
    padding: 5px;
    border-radius: 5px;
    margin-top: 12px;
    margin-left: -7px;
    cursor: pointer;
  }
 
  .ui-widget input,
  .ui-selectmenu-button,
  .ui-widget textarea,
  .ui-widget button,
  .ui-select option {
    font-family: "Nunito", sans-serif;
    font-size: 1.6rem;
  }
  
  /* select menu */
  .ui-selectmenu-button {
    background-color: #fff;
  }
  
  /*majorly modified here*/
  .ui-spinner {
    width: 10rem;
    text-align: center;
    display: inline-block;
    overflow: hidden;
    padding: 0;
    vertical-align: middle;
    border: 0 none;
  }
  .ui-spinner-input {
    width: inherit;
    font-size: 1.6rem;
    border: none;
    background: none;
    color: inherit;
    padding: 0 0 0.1rem 0.5rem;
    margin: 0;
    vertical-align: middle;
    outline: none;
  }
  .ui-spinner-button {
    width: 1.8rem;
    height: 50%;
    font-size: 0.5em;
    padding: 0;
    margin: 0;
    text-align: center;
    position: absolute;
    cursor: default;
    display: block;
    overflow: hidden;
    right: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
  }
  /* vertical centre icon */
  .ui-spinner .ui-icon {
    position: absolute;
    margin-top: -8px;
    top: 50%;
    left: 50%;
  }
  .ui-spinner .ui-icon:active {
    outline: none;
  }
  .ui-spinner-up {
    top: 0;
    cursor: pointer;
  }
  
  .ui-spinner-down {
    bottom: 0;
    cursor: pointer;
  }
  
  .ui-slider {
    position: relative;
    text-align: left;
    background: #d7d7d7;
    z-index: 1;
    margin-top: 8px;
  }
  .ui-slider {
    -moz-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.5) inset;
    -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.5) inset;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.5) inset;
  }
  .ui-slider .ui-slider-handle {
    background: url(slider_handles.png) 0px -23px no-repeat;
    position: absolute;
    z-index: 2;
    width: 23px;
    height: 23px;
    cursor: pointer;
    border: none;
    outline: none;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    box-shadow: none;
  }
  .ui-slider .ui-state-hover,
  .ui-slider .ui-state-active {
    background-position: 0 0;
  }
  .ui-slider .ui-slider-range {
    /* background: #a3cae0; */
    background: #02498036;
    position: absolute;
    z-index: 1;
    font-size: 0.7em;
    display: block;
    border: 0;
    background-position: 0 0;
  }
  /* .ui-slider .ui-slider-range {
    -moz-box-shadow: 0 1px 2px rgba(17, 35, 45, 0.6) inset;
    -webkit-box-shadow: 0 1px 2px rgba(17, 35, 45, 0.6) inset;
    box-shadow: 0 1px 2px rgba(17, 35, 45, 0.6) inset;
  } */
  
  .ui-slider-horizontal {
    height: 5px;
    width: inherit;
  }
  .ui-slider-horizontal .ui-slider-handle {
    top: -10px;
    margin-left: -13px;
  }
  .ui-slider-horizontal .ui-slider-range {
    top: 0;
    height: 100%;
  }
  .ui-slider-horizontal .ui-slider-range-min {
    left: 0;
  }
  .ui-slider-horizontal .ui-slider-range-max {
    right: 0;
  }
  
  .ui-slider-vertical {
    width: 5px;
    height: 100px;
  }
  .ui-slider-vertical .ui-slider-handle {
    left: -8px;
    margin-left: 0;
    margin-bottom: -13px;
  }
  .ui-slider-vertical .ui-slider-range {
    left: 0;
    width: 100%;
  }
  .ui-slider-vertical .ui-slider-range-min {
    bottom: 0;
  }
  .ui-slider-vertical .ui-slider-range-max {
    top: 0;
  }
  
  .select-menu {
    font-family: "Nunito", sans-serif;
    font-size: 1.6rem;
  }
  .highlight {
    background: linear-gradient(
      to bottom,
      #f7c3a9da,
      #c17a53da,
      #c17a53da,
      #c17a53da,
      #c17a53da,
      #311b10da
    );
    height: 100%;
    width: 0;
  }
  
  .display-hide {
    display: none;
  }
  
  .display-flex {
    display: flex;
  }
  
  .svg-style {
    fill: none;
    stroke: #bdeaf3;
  }