body{
    background-color: rgb(111, 159, 108);
}

.b1{
    margin: 20px;
    padding: 20px;
  
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin-top: 98px;
    margin-left: 100px;
    border-radius: 10px;
    
}
.b2{
    margin: 20px;
    padding: 20px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin-top: 90px;
    margin-left: 100px;
    border-radius: 10px; 
}
.b3{
    margin: 20px;
    padding: 20px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin-top: 100px;
    margin-left: 95px;
    border-radius: 10px;
}
.b4{
    margin: 20px;
    padding: 20px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin-top: 95px;
    margin-left: 100px;
    border-radius: 10px;
    margin-right: 95px;
}
h1{
    text-align: center;
    margin-left: 95px;
}
h2{
    text-align: center;
}